# First Class - Introduction to Python

## In this class you will see some basic commands used in Python.


Remeber that using hashtag (#) in a cell is how we do a comment in Python!!

### Print command:

In [ ]:
# The print command is a builtin function when we want to display data on the standard output (screen).
print("Hello World!!!")

In [ ]:
print("First steps with Python")

In [ ]:
# To display the output it isn't necessary use the builtin fuction print
"I'm learning Python"

### Basic math operations:

In [ ]:
# Addition or sum
1 + 3

In [ ]:
# Subtraction
23 - 10

In [ ]:
# Multiplication
2 * 5

In [ ]:
# Division
10/2

In [ ]:
# Assigning values to variables
a = 4
b = 6

In [ ]:
# Adding the variables 
a + b

### Working with strings, but the same idea can be used with other kinds of data (e.g. float, int, and so on):

In [1]:
# How to create a string variable:
phrase = "Python to data analysis"

In [2]:
# Getting the first element of the variable phrase
phrase[0]

'P'

In [3]:
# Getting the first nine elements of the variable phrase
phrase[0:10]

'Python to '

In [4]:
# Getting the tenth until the last element of the variable phrase
phrase[10:]

'data analysis'

In [5]:
# Getting the first until the seventeenth element of the variable phrase
phrase[:17]

'Python to data an'

In [6]:
# Counting how many times the string "data" appear in the variable phrase
phrase.count("data")

1

In [7]:
# Putting all elements of the varaible phrase in lower case
phrase.lower()

'python to data analysis'

In [8]:
# Putting all elements of the varaible phrase in upper case and adding it the variable
phrase = phrase.upper()
print(phrase)

PYTHON TO DATA ANALYSIS

In [11]:
# Replacing elements inside the variable phrase
phrase.replace("PYTHON","Phrases")

'Phrases TO DATA ANALYSIS'

In [13]:
# Showing the variable phrase
phrase

'PYTHON TO DATA ANALYSIS'