# Data Structure

### **Lists**

In [4]:
#Creating a list and calling it animals
animals = [1,2,3]
animals

[1, 2, 3]

In [5]:
animals = ["dog", "cat", 12345, 6.5]
animals

['dog', 'cat', 12345, 6.5]

In [7]:
# Printing the first element of the list
animals[0]

'dog'

In [8]:
# Printing the fourth element of the list
animals[3]

6.5

In [9]:
# Replacing the first element of the list
animals[0] = "parot"

In [10]:
animals

['parot', 'cat', 12345, 6.5]

In [11]:
# Removing the element "cat" of the list
animals.remove("cat")

In [12]:
animals

['parot', 12345, 6.5]

In [13]:
# Seeing the length of the list - use the command len
len(animals)

3

In [14]:
# Seeing if the element "cat" is in the list animals
"cat" in animals

False

In [19]:
# Adding new elements in the list - in this case another list
animals.append(["lion", "dog"])
print(animals)

['parot', 12345, 6.5, ['lion', 'dog']]

In [20]:
# Adding new elements in the list - in this case separate elements
animals.extend(["snake", 6])
print(animals)

['parot', 12345, 6.5, ['lion', 'dog'], 'snake', 6]

In [21]:
# Seeing how many an element appear in a list - in this case lion isn't an individual element, because this
# element is inside another list
animals.count("lion")

0

In [16]:
# Creating another list
newlist = [850, 30, 150, 80, 10]

In [17]:
# Seeing the maximum value in the list
max(newlist)

850

In [18]:
# Seeing the minimum value in the list
min(newlist)

10

In [24]:
# Sorting the list in ascending order
newlist.sort()
print(newlist)

[10, 30, 80, 150, 850]

In [25]:
# Sorting the list in descending order
newlist.sort(reverse=True)
print(newlist)

[850, 150, 80, 30, 10]

### **Tuples**

Tuples different from lists are defined using parenthesis () and once discriminated it can't be altered

In [26]:
# Tuples defined using parenthesis
tp = ("Banana", "Apple", 10, 50)

In [27]:
# Seeing the first element of the tuple
tp[0]

'Banana'

In [29]:
# Tuples are immuable, you can not alter its elements - if you try it will return an error
# (TypeError: 'tuple' object does not support item assignment)
tp[0] = "Orange"

TypeError: 'tuple' object does not support item assignment

In [30]:
# Seeing how many an element appear in a tuple
tp.count("Apple")

1

In [31]:
# Seeing the first and second element
tp[0:2]

('Banana', 'Apple')

### **Dictionaries**

Dictionaries are an unordered set of key:value pairs, where the keys are unique in a given dictionary instance. Dictionaries are delimited by square brackets: {}, and contain a comma-separated list of key:value pairs.

In [35]:
# To create a dictionary we use square brackets {}
# Dictionaries working with the concept key:value pairs
dc = {"Apple":20, "Banana":10, "Orange":15, "Grape":5}

In [34]:
dc

{'Apple': 20, 'Banana': 10, 'Orange': 15, 'Grape': 5}

In [36]:
# Accessing a dictionary value using its key
dc["Apple"]

20

In [37]:
# Updating "Apple" value
dc["Apple"] = 25
dc

{'Apple': 25, 'Banana': 10, 'Orange': 15, 'Grape': 5}

In [38]:
# Returning all dictionary keys
dc.keys()

dict_keys(['Apple', 'Banana', 'Orange', 'Grape'])

In [39]:
# Returning all dictionary values
dc.values()

dict_values([25, 10, 15, 5])

In [40]:
# Verifying if one key already exist in a dictionary, in case of nonexistence insert it
dc.setdefault("Lemon", 22)

22

In [41]:
dc

{'Apple': 25, 'Banana': 10, 'Orange': 15, 'Grape': 5, 'Lemon': 22}